/* колір кнопок/заголовків #212121 */
/* колір логотип синій #2196F3 */
/* колір тексту/посилань #757575 */
/* колір адрес/герой #FFFFFF */
/* кольорова гама футера background: #2F303A */
/* кольорова гама листа #FFFFFF */
/* колір посилань футер color: rgba(255, 255, 255, 0.6) */
/* кольоровий фон наша команда background: #F5F4FA */
/* фон героя background: #2F303A */

/* СТУДИЯ */
:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;

  /* animations */
  --mid-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: "roboto", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  align-items: center;

  padding-right: 15px;
  padding-left: 15px;

  margin-left: auto;
  margin-right: auto;
  /* outline: auto; */
}

/* .header {
  background-color: tomato;
} */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
}
/* logo */
/* .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
} */

.navigation .logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
/* .for-logo {
  color: #2196f3;
} */
.after-logo {
  color: black;
}
.list,
.header-list,
.auth-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-list .link-current {
  color: #2196f3;
  text-decoration: none;
}

/* site-nav */
.header-list {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-list .item {
  margin-right: 50px;
}

.header-list .item:last-child {
  margin-right: 0;
}

.header-list .link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--mid-anim);
}
.header-list .link:hover,
.header-list .link:focus {
  color: #2196f3;
}

/* Додавання псевдоелемента */
.header-list .link-current::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}
/* --------------- */
.auth-nav {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.auth-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: currentColor;
  transition: color var(--mid-anim);
}
.auth-nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}
.auth-nav-item:last-child {
  margin-right: 0;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
.link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav-icons {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/studio/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-bottom: 30px;

  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;

  /* margin: 0 auto;
  display: block; */
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opasity cubic-bezier(0.55, 0.055, 0.675, 0.19),
    visibility 700ms ease;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 700ms ease, opacity 300ms ease-in-out;
}

/* початковий стан елемента перед анімацією */
.backdrop.is-hidden .modal-form {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

/* кінцевий стан елемента після анімації */
.backdrop .modal-form {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

/* .backdrop .modal-form {
  animation: rotate-scale-down 1.9s ease-in;
}

@-webkit-keyframes rotate-scale-down {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
    transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(0.5) rotateZ(180deg);
    transform: scale(0.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
  }
} */

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close {
  fill: #000000;
  transition: fill var(--mid-anim);
}
.modal-btn:hover .btn-close,
.modal-btn:focus .btn-close {
  fill: #2196f3;
}

/* modal form */
.title-form {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  text-align: center;
  margin-bottom: 12px;
}

.form-group,
.form-policy {
  display: block;
}
.form-group {
  position: relative;
}
.form-group:not(:last-child) {
  margin-bottom: 10px;
}
.form-group.textarea {
  margin-bottom: 20px;
}
.form-group-label {
  display: block;
  text-align: start;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: #757575;
}
.form-input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--mid-anim);
}
.form-icon {
  position: absolute;
  top: 30px;
  left: 12px;
  fill: #212121;
  transition: fill var(--mid-anim);
}
.form-group .form-input:focus,
.form-group .form-textarea:focus {
  outline: transparent;
  border: 1px solid #2196f3;
}

.form-group:focus-within > .form-icon {
  fill: #2196f3;
}
.form-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-textarea {
  resize: none;
  width: 100%;

  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.custom-checkbox {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  outline: 1px solid #212121;
  outline-offset: -2px;

  transition: background-color var(--mid-anim);
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
  outline: #2196f3;
}

.checkbox:focus + .custom-checkbox {
  outline: 1px solid #2196f3;
}
.custom-checkbox-icon {
  opacity: 0;
  transition: opacity var(--mid-anim);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.form-policy-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;
}

.form-btn {
  width: 200px;
  height: 50px;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Section Сильные стороны компании*/
.feature-section {
  padding-bottom: 0px;
}
.feature-thumb {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.feature-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.feature-section-titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}
.feature-section-list {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  list-style: none;
}

.feature-section-item {
  margin-right: 30px;
  width: 270px;
}

.feature-section-item:last-child {
  margin-right: 0px;
}

/* Чем мы занимаемся */
.profile-section-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.profile-section-item {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}
.profile-section-item:last-child {
  margin-right: 0px;
}
.profile-section-title {
  margin-bottom: 47px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.profile-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* Команда компании */
.team-section {
  background: #f5f4fa;
}
.team-section-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.team-section-item {
  background: #ffffff;
  margin-right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.team-section-item:last-child {
  margin-right: 0px;
}
.team-section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.box-team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-section-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-section-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Оформлення іконок соцмереж */

.box-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.team-icons:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  transition: color var(--mid-anim), background-color var(--mid-anim);
}

.social-link:hover,
.social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-icons {
  fill: currentColor;
}

/* <!--Постоянные клиенты--> */
.klient-section-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 50px;
}

.klient-section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.klient-section-item {
  width: 170px;
  height: 92px;
  transition: border var(--mid-anim);
  /* margin-right: 30px; */
}

.klient-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition: border var(--mid-anim);
}

.klient-link:hover,
.klient-link:focus {
  border: 1px solid #2196f3;
}

.klient-icons {
  fill: #afb1b8;
  transition: fill var(--mid-anim);
}

.klient-link:hover .klient-icons,
.klient-link:focus .klient-icons {
  fill: #2196f3;
}

/* .klient-section-item:last-child {
  margin-right: 0px;
} */

/* Футер */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address-box {
  display: inline-block;
  width: 231px;
  margin-right: 70px;
}
.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.logo {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer .after-logo {
  font-family: "Raleway", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address {
  margin-bottom: 9px;
  /* margin-top: 20px; */
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-list {
  list-style: none;
}
.footer-item {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.footer-item:last-child {
  margin-bottom: 0px;
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-social-box {
  margin-right: 93px;
}
.footer-social-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-team-icons:not(:last-child) {
  margin-right: 10px;
}

.box-footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--mid-anim), color var(--mid-anim);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.footer-icons {
  fill: currentColor;
}

/* Подписка на страницу */
.footer-mail {
  width: 579px;
}
.footer-mail-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-form-group {
  display: block;
  align-items: center;
  margin-right: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  outline: transparent;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.footer-form-input {
  padding: 15px 286px 15px 25px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.footer-form-btn {
  width: 200px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: transparent;
}
.footer-form-icon {
  margin-left: 10px;
  fill: #fff;
}
/* ПОРТФОЛИО */

.projects-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: black;
}
.projects-section-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 42px;
}
.projects-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;

  background: #f5f4fa;
  border-radius: 4px;
  border: transparent;

  transition: color var(--mid-anim), background-color var(--mid-anim),
    box-shadow color var(--mid-anim);
}

.projects-section-item {
  margin-right: 8px;
}
.projects-section-item:last-child {
  margin-right: 0px;
}

.projects-button:hover,
.projects-button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-section-list-image {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.projects-image-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-image-link {
  display: block;
  transition: box-shadow var(--mid-anim);
}

.projects-image-link:hover,
.projects-image-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* .projects-image-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
} */

.projects-image-item:nth-child(3n) {
  margin-right: 0px;
}
.projects-image-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.box-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Створення оверлея */

.projects-thumb {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-image-link:hover .projects-overlay,
.projects-image-link:focus .projects-overlay {
  opacity: 1;
  transform: translateY(0);
}

.overlay-text {
  position: absolute;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
